---
layout: layout
---

<div class="container">
<div class="
    col-lg-8 col-lg-offset-1
    col-md-8 col-md-offset-1
    col-sm-12
    col-xs-12
    post-container
">
    <%- page.content || body %>
        
    <div class="comments" id="comments">
    </div>
</div>
</div>

<%- css('css/valine.css') %>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
  
<script type="text/javascript">
    var GUEST = ['nick','mail','link'];
    var guest = "<%= config['valineGuestInfo'] %>";
    guest = guest.split(',').filter(item=>{
        return GUEST.indexOf(item)>-1;
    });
    new Valine({
        el: '#comments' ,
        verify: <%= config['valineVerify'] %>,
        notify: <%= config['valineNotify'] %>,
        appId: '<%= config['valineAppId'] %>',
        appKey: '<%= config['valineAppKey'] %>',
        placeholder: '<%=config['valinePlaceHolder'] %>',
        visitor: true,
        avatar: '<%= config['valineAvatar'] %>',
        guest_info: guest,
        pageSize: '<%= config['valinePageSize'] %>' || 10,
        lang: 'en'
    });
</script>